# Mackup config

[storage]
engine = dropbox
directory = mackup

# Apps to sync -- if empty, syncs all supported.
# custom: personal-files, break, grammarly, iconjar, iterm2, moro, nginx,
# oversight, ulysses
[applications_to_sync]

# Apps to ignore -- handled by dotfiles or other reasons.
[applications_to_ignore]
ack
bash
curl
editorconfig
git-hooks
git
mackup
mysql
nano
pgsql
oh-my-zsh
tmux
vim
wget
xcode
zsh
